..nav_bar {
    background-color: aqua;height: 35px;padding-top: 10px;
}
.nav_bar span {
    float: right;padding-right: 30px;
}

.main {
    display: grid;grid-template-columns: 1fr 1fr 1fr;
}
.main > a {
    background-color: lightblue;height: 200px;margin: 5px;
    position: relative;left:10%;width:80%;text-decoration: none;
    color: black;display: flex;align-items: center;justify-content: center;
}
.social_icons {
    position: absolute;top: 20%;left:85%;width: 14%;
}
.social_icons > a {
    height: 50px;background-color: lightblue;margin-bottom: 2px;
    color: black;text-decoration: none;display: flex;align-items: center;
    padding-left: 5px;
}
