html, body {
    width: 100%;
    overflow: hidden;
}
.container {
    width:80%;height:65%;position: absolute;top:45%;
    left:50%;transform: translate(-50%, -50%);border: 2px solid black;
}
.bird {
    position: absolute;top:50%;left:0;
}
.a {
    border: 2px solid black;
}
.b {
    border: 2px solid black;
}
.c {
    border: 2px solid black;
}
