.container {
    position: absolute;top:30%;left: 50%; transform: translate(-50%, -50%);
}
.main {
    display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main > span {
    height: 40px;width: 100px;background-color: steelblue;margin: 2px;
    border-radius: 5px;
}